body{font-family:Helvetica,Tahoma,Arial,STXihei,"华文细黑","Microsoft YaHei","微软雅黑",sans-serif;}
header{padding-top:20px;padding-bottom:30px;}
.navbar a.logo{display:inline-block;height: 5rem;width: 314px;background:url(../images/logo1.png) no-repeat 0 -0.3rem;background-size:contain;margin-left:10px;vertical-align:bottom;margin-top:5px;}
.top h1{font-size:22px;color:#4a4a4a;display:inline-block;border-left:2px solid #868686;margin-left:15px;padding-left:15px;margin-top:12px;}
.nav{padding-bottom:14px;}
@media (min-width:768px){.nav{padding-bottom:0;float:right;}.navbar-default .navbar-nav>li>a.active{background-color:#0469c0}}
.nav>li>a{font-size:20px;color:#4a4a4a;}
.navbar-default .navbar-nav>li>a{color: #fff;height: 5.4rem;line-height: 3rem;}
.navbar-default .navbar-nav>li>a:hover{text-decoration:none;background-color:#0469c0;color:#fff;}
.navbar-default{height: 5.5rem;background-color: #005491;border: none;}
@media (max-width:1023px){.navbar a.logo{background:url(../images/logo.png) no-repeat center;background-size:contain;width: 85px;}}
@media (max-width:767px){.navbar a.logo{height: 40px;}.navbar-default .navbar-nav>li>a{height: auto;line-height: normal;color: #777;}.navbar-default{height: 50px;}.navbar-default .navbar-nav>li>a:hover{background-color: #eee;color: #555;}.navbar-collapse{background-color:#fff ;border-bottom: 1px solid #eee;}}
/*公共底部*/
footer{background-color:#282828;color:#fff;padding-top:20px;padding-bottom:10px;}
@media (min-width:768px){footer{padding-top:70px;}}
footer .footTop > div{position:relative;}
footer dl{max-width:400px;}
footer .footPt{width:274px;}
.code h4{margin-left:12px;}
.code img{width:100px;}
@media (min-width:768px) and (max-width:1024px) {footer .col-sm-6{min-height:240px;}}

section h2{color:#303030;font-size:34px;padding-bottom:16px;border-bottom:1px solid #303030;display:inline-block;margin-bottom:20px;}
@media (min-width:768px){section h2{font-size:36px;}}
.banner{background-position:center bottom;background-repeat:no-repeat;background-size:cover;min-height:280px;margin-bottom:20px;}
/*职业导师*/
.teacher .banner{background-image:url(../images/teacher.jpg);}
.teacher .tutor dl{width:80%;margin:2% auto 1%;min-height:auto;}
@media (min-width:992px){.teacher .tutor dl{margin:16% auto 1%;min-height:510px;}}
.teacher .tutor dd h3{color:#014e78;}
.teacher .tutor dd p{text-align:left;}
.counselor{background-color:#f7f7f7;}
.counselor dl{background-color:#fff;width:90%;margin:20px auto 0;padding-bottom:20px;}
/*名师顾问*/
.counselor dl {min-height:320px;}
.counselor dl img{width: 142px;height: 140px;display: block;border-radius: 100%;margin: 0 auto;}
.counselor dl h3{color:#014e78;text-align: center;}
.counselor dl h5{font-size:16px;line-height:1.4;text-align: center}
.counselor dd{padding:0 20px;height:auto;}
@media (min-width:768px){.counselor dl{min-height:320px;}}
.p-teacher{border-radius:55px;padding:10px 30px;margin:60px 0;background-color:#fff;border:1px solid #dbdbdb;display:inline-block;}
/*关于我们*/
.about .banner{background-image:url(../images/about.jpg);}
.about p{border-bottom:1px dotted #696969;padding:30px 20px;}
.about p strong{font-size:22px;font-weight:100;}
/*书籍页面*/
.books .banner{background-image:url(../images/books.jpg);}
.books h2{margin-bottom:6%;}
.books dl{width:90%;}
.books dt{width:30%;}
.books dt img{width:100%;}
.books dd{width:70%;padding-left:6%;}
.books dd h4{margin-top:0;}
@media (min-width:768px){.books dd h4{margin-top:8%;}}
.books dd h5{margin:4% auto;}
.books dd p{color:#5e6a78;line-height:1.6;}
.posR{position:relative;}
.bShow{display:none;background-color:#fff;padding:10px 20px;width:600px;z-index:9999;position:absolute;left:50%;top:50%;box-shadow:3px 3px 10px rgba(0,0,0,.5)}
.bShow h5{background-color:#004d7c;color:#fff;font-size:18px;display:inline-block;padding:4px 8px;}
.bShow p{font-weight:100;}
/*课程页面*/
.course .banner{background-image:url(../images/courseBanner.jpg);background-position:center bottom;background-repeat:no-repeat;background-size:cover;color:#fff;}
.bannerCourse{width:90%;max-width: 700px;margin:10% auto 0;}
.course .banner h2,.course .banner h3{font-size:18px;}
.course .banner h3{margin-top:0px;margin-bottom:3%;}
.course .banner a{border-radius:35px;border:2px solid #fff;display:inline-block;padding:4px 40px;color:#fff;}
@media (min-width:768px){
	.banner{height:380px;}
	.bannerCourse{margin-top:6%;}
	.course .banner h2{font-size:35px;}
	.course .banner h3{font-size:22px;margin-top:20px;}
}
.course .bg{padding:0;}
.course .bgf6{background-color:#f6f6f6;}
@media (min-width:768px){.bg{padding:80px 0;}}
.courseWhy .courseWhytop{padding-top:4%;}
.courseWhy .courseWhybottom{padding-bottom:2%;}
.courseWhy dl{height:auto;padding-top:10px;max-width:380px;margin:0 auto;}
.courseWhy dt{text-align:center;}
.courseWhy img{max-width:360px;width: 100%;}
.courseWhy h4{font-weight:900;}
.courseWhy h4 span{color:#0c547e;}
.courseWhybottom dl{max-width:380px;margin:0 auto;text-align:left;}
@media (min-width:1024px){.courseWhy dl{height:180px;padding-top:40px;}
	.courseWhy dt{text-align:inherit;}
	.courseWhy dt.text-right{text-align:right;}
	.courseWhybottom dl{padding-top:10px;text-align:center;}
}
.courseFeature dt img{width:100%;}
.courseFeature dd p{width:98%;margin:30px auto;}
.courseArrange dl{margin-bottom:10%;}
@media (min-width:768px){.courseArrange dl{margin-bottom:20%;}}
.courseArrange h4{background-color:#0c547e;display:inline-block;padding:6px 30px;border-radius:25px;color:#fff;margin-bottom:20px;}
.courseArrange p{line-height:1.8;}
.tips{display:inline-block;padding:3% 10px;background:url(../images/tips.png) 10px center no-repeat;padding-left:60px;}

.contentSet h3{background-color:#0c547e;color:#fff;margin-bottom:20px;display:inline-block;padding:6px 30px;margin-top:0px;}
@media (min-width:768px){.contentSet h3{margin-top:50px;}}
.contentSet h5{color:#000;font-weight:900;}
.contentSet dd{border-top:1px solid #b6b6b6;padding-top:10px;max-height:150px;}
.harvest dd{margin:20px 0 0;}
.coursefocusBox{position: relative;overflow: hidden;margin-top:4%;}
.coursefocusBox dl{text-align:center;}
.coursefocusBox dt{float:none;width:100%;}
.coursefocusBox dt img{width:100%;max-width:210px;}
.coursefocusBox dd{float:none;width:100%;padding:5% 12%;}
@media (min-width:768px){
	.coursefocusBox dl{width:100%;text-align:left;}
	.coursefocusBox dt{float:right;width:30%;}
	.coursefocusBox dd{float:left;width:70%;}
}
.coursefocusBox dd h4{font-size:26px;border-bottom:1px solid #afafaf;padding-bottom:12px;}
.coursefocusBox .prev,.coursefocusBox .next{width:40px;height:40px;position:absolute;top:90px;z-index:3;filter:alpha(opacity=60);opacity:.6;}
.coursefocusBox .prev{background:url(../images/courseLeft.png) no-repeat;left:4%;}
.coursefocusBox .next{background:url(../images/courseRight.png) no-repeat;right:4%;}
.coursefocusBox .prev:hover,.coursefocusBox .next:hover{filter:alpha(opacity=100);opacity:1;}
.courseOutline ul{padding:4px;}
.courseOutline li{border-bottom:1px dotted #676767;padding-left:10px;height:40px;line-height:40px;position:relative;}
.courseOutline li p{width:84%;height:40px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.courseOutline li .posA{color:#859db1;font-size:12px;display:block;position:absolute;right:10px;top:4px;}

.bgask{background-position:center bottom;background-repeat:no-repeat;background-size:cover;background-image:url(../images/courseAsk.png);min-height:446px;position:relative;}
@media (min-width:768px){.bgask{height:536px;}}
.center{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);min-width:320px;}
.courseCode h3{padding-top:8%;}
.courseCode dl.bgf6{margin-top:60px;padding:12% 0;}
.courseCode dl.bgf6 dd{margin-top:6%;}
.payCode dl{border:1px solid #dcdcdc;margin-top:50px;padding:8% 6%;}
.payCode dt{margin-bottom:4%;}
.payCode dt{height:50px;}
.payCode dd img{width:100%;max-width:230px;}
.courseCode a{background-color:#0c547e;display:inline-block;padding:8px 40px;border-radius:25px;color:#fff;margin:6% 0;font-size:18px;}
/*文章页面*/
.article{background-color: #eee;}
.article .banner{background-image: url(../images/articleDetails.jpg);}
.article .listItem{padding: 3% 3% 3% 6%;box-shadow: 0 0.3rem 1rem #c0bfbf;margin: 30px 0 15px 0;background-color: #fff;cursor: pointer;}
.article .listItem span{text-align: right;font-size: 15px;}
.article .listItem b{font-size: 20px;font-family: "microsoft yahei"}
.article .listItem p{padding-left: 0;font-size: 16px;color: #777;margin-top: 0.6rem;height: 70px;}
.pagination>li>a{font-size: 15px;}
.pagination>li>a.arrowBtn{border: none;margin-left: 0;padding:6px 15px;padding-bottom: 7px;background-color: #eee;margin: 0 3px;}
.pagination>li>a:hover{background-color: #fff;}
.pageList{text-align: center;margin: 2rem 0;}
@media (max-width:768px){.article .listItem span{text-align: left;} .pagination>li>a{font-size: 13px;} .article .listItem b{font-size: 18px;} .article .listItem p{font-size: 14PX;padding-right: 0;height: auto;}}
@media (max-width:310px){.pagination>li>a.arrowBtn{padding: 6px;}}
/*文章详情子页面*/
.articleDetails{background-color: #eee;padding-top: 2rem;}
.articleDetails .container{background-color: #fff;padding: 3rem;}
.introduce h5{font-size: 20px;font-weight: bold; font-family: "microsoft yahei";}
.introduce i{font-style: normal;font-size: 15px;color: #9d9d9d;}
.introduce span{color: #9d9d9d;font-size: 16px;padding: 5px 0 10px 15px;}
.introduce p{font-size: 16px;padding: 20px 0;font-family: "microsoft yahei";width: 82.6%;background-color: #eee;margin-left: 15px;border-radius: 6px;color: #0f6d99;}
.articleAudio audio{width: 94%;margin-top: 10px;}
.articleAudio{background-color: rgba(51, 122, 183, 0.06);padding: 1.5rem;border: 1px solid #eee;width: 85%;margin: 5rem 0;}
.articleAudio b{font-size: 17px;display:block;width: 94%;text-align: left;margin: 0 auto;}
.articleImg img{padding:10px;}
.articleImg .row{margin: 0;}
.articleImg p{font-size: 15.4px;margin: 20px 0px;text-align: justify;}
.articleTitle{font-size: 18px;padding: 10px 0;text-align: center;color: #0a588d;font-weight: bold;font-family: "microsoft yahei";}
.articleTitle i{display: inline-block;width: 20%;border: 1px solid  #0a588d;}
@media (max-width:768px){.articleTitle i{display: none;}.articleAudio audio{width: 100%;}.introduce p{text-align: left;width: 95%;padding:1rem;}.articleImg img{width: 76%;}.articleAudio{width: 100%;margin: 3rem 0;}}
@media (max-width:460px){.articleImg img{width: 96%;}}
