<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width" name="viewport">
		<meta name="format-detection" content="telephone=no">		
		<title>职业说careerwhisper</title>
		<link href="css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/wechat.css"/>
	</head>
	<body style="background-color: #efeff4;">
		<div class="container">
			<h3 class="text-center titles">课程精品</h3>
			<div class="jpkc">
				<ul class="row">
					<li class="col-md-6 col-sm-6 col-xs-6">
						<div class="box">
							<img src="images/courseFeature2.jpg" alt="" />
							<div class="row info">
								<span class="col-md-3 col-sm-3 col-xs-3">许轶</span>
								<i class="col-md-9 col-sm-9 col-xs-9 text-right">2017年9月21日</i>
							</div>
							<b>标题</b>
							<p>文本文本文文文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本本</p>
						</div>
					</li>
					<li class="col-md-6 col-sm-6 col-xs-6">
						<div class="box">
							<img src="images/courseFeature2.jpg" alt="" />
							<div class="row info">
								<span class="col-md-3 col-sm-3 col-xs-3">许轶</span>
								<i class="col-md-9 col-sm-9 col-xs-9 text-right">2017年9月21日</i>
							</div>
							<b>标题</b>
							<p>文本文本文文文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本本</p>
						</div>
					</li>
				</ul>
				<ul class="row">
					<li class="col-md-6 col-sm-6 col-xs-6">
						<div class="box">
							<img src="images/courseFeature2.jpg" alt="" />
							<div class="row info">
								<span class="col-md-3 col-sm-3 col-xs-3">许轶</span>
								<i class="col-md-9 col-sm-9 col-xs-9 text-right">2017年9月21日</i>
							</div>
							<b>标题</b>
							<p>文本文本文文文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本本</p>
						</div>
					</li>
					<li class="col-md-6 col-sm-6 col-xs-6">
						<div class="box">
							<img src="images/courseFeature2.jpg" alt="" />
							<div class="row info">
								<span class="col-md-3 col-sm-3 col-xs-3">许轶</span>
								<i class="col-md-9 col-sm-9 col-xs-9 text-right">2017年9月21日</i>
							</div>
							<b>标题</b>
							<p>文本文本文文文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本本</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>