<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1 user-scalable=no" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<title>关于我们</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/common.css" rel="stylesheet" />
</head>
<body>
<header>
  <div class="top clearfix">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="logo" href="" target="_blank"></a>
          <!--<h1 class="hidden-xs hidden-sm">高端职业知识付费分享平台</h1>-->
        </div>
        <div class="collapse navbar-collapse clearfix" id="bs-navbar">
          <div class="text-center">
            <ul class="list-inline nav navbar-nav">
              <li><a href="index" target="">首页</a></li>
              <li><a href="course" target="">课程</a></li>
              <li><a href="teacher" target="">导师</a></li>
              <li><a href="books" target="">书籍</a></li>
              <li><a href="article" target="">文章</a></li>
              <li><a href="about" target="" class="active">关于我们</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </div>
</header>
<div class="about">
  <div class="banner"></div>
  <div class="container">
    <section class="row">
      <div class="text-center">
        <h2>关于我们</h2>
      </div>
      <p>2003年，职业说的前身在五道口成立，美团的创始人王兴、九鼎投资黄晓捷与职业说的创始人许轶老师都是挚友，是最早的职业说的参与者，他们的友谊始于早年间在五道口共同打拼的日
        子，他们当时于未来的憧憬和对知识的渴求，让这些人分别在各个领域中成为佼佼者。可以说，五道口孕育出了这些当今知名企业的领导者。这里有国内最好的学府清华和北大，这里有美
        丽说，快手等优秀的互联网公司和创始人，这里也有闻名国内外的五道口金融学院。五道口是中国互联网和金融人才成长的摇篮，五道口人的对事业的热情、面对困难时的坚韧、对知识孜
        孜不倦地追求等优秀品质被总结为“五道口精神”。职业说要做的就是将这种“五道口精神”继续发扬。</p>
      <p>曾经，美团总裁、哈佛MBA陈少辉、KKR大中华区董事孙峥等人都是职业说的受益者，他们是职业说的最早的一批“校友”。</p>
      <p>职业说创始人许轶老师，斯坦福大学MBA，芝加哥大学硕士，曾就职于美国第一投资银行高盛公司和欧洲顶级投资银行瑞士信贷美国旧金山办公室。先后在一级投资市场中投资过两家超过十亿的公司，许轶老师操盘的股票年收益率达到惊人的150%，投资经验丰富（欢迎实盘验证）。</p>
      <p>许轶老师出生在一个学术氛围浓郁的家庭，父母都是大学老师，因此培养了许轶老师对于学术方面的兴趣。从事教育行业以来，曾成功指导了多名学员获得美国知名大学和商学院的录取，其中包括：周孟恒，在许轶老师的指导下获得了MIT（麻省理工）商学院录取，还在许老师的指导下获得美国纽约著名金融服务公司摩根斯坦利（香港）实习。徐抱一，经过许轶老师的指导，获得哥伦比亚大学录取，并成功拿到美国花旗银行投行部顶级实习工作。</p>
      <p>从2003年的五道口，到现在的成功学员，职业说培养了一个又一个的“成功案例”。在现在这个时代，许轶老师决定正式开设“职业说”课程，携手高盛、摩根斯坦利、老虎基金、KKR基金等众多金融基金行业挚友与学生，共同为大家分享金融业的成功之道。</p>
      <p>如今找份工作很容易，但是真正能成为佼佼者的人还在少数。只有你的水平达到一定的水准，才能做到“于无声处听惊雷，不战而屈人之兵”。职业说想要做的，就是让一群优秀的人变得更优秀，提升你的水平，打造成功的人生。</p>
      <p><strong>我们的目标：</strong>职业说想要做的就是“让优秀的人更优秀”，行业大咖们的答疑解惑，大量的知识与实战积累、系统化的学习以及精英人脉圈的搭建，帮助学员更好的登上职业巅峰。</p>
    </section>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row footTop clearfix">
      <div class="col-xs-12 col-md-5 col-sm-12">
        <dl>
          <dt>
            <h4>职业的人说职业的事，不灌鸡汤只吃肉</h4>
          </dt>
          <dd>
            <p>职业说是一个为精英开设的，高端职业知识线上学习平台。首期课程将围绕金融展开。从船运公司的兴衰到外汇知识，从人工智能到大数据，职业说的导师培养学生解决问题的思维模式，在行业大咖的解惑与帮助下，少走弯路，登上职业的顶峰。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="footPt">
          <p>地址：北京市海淀区北三环西路64号院</p>
          <p><abbr title="Phone">电话：</abbr>(010)5292-8288转8018</p>
          <p>邮箱：careerwhisper@kanwokanwo.com</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 col-sm-6">
        <div class="code"> <img src="images/code.png">
          <h4>关注我们</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="copy">Copyright © 北京看我看我科技有限责任公司 2017京ICP备14049391号-1</p>
      </div>
    </div>
  </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(function(){
		//判断微信打开隐藏顶部导航
		var ua = navigator.userAgent.toLowerCase();
	　 var isWeixin = ua.indexOf('micromessenger') != -1;
	　　if (isWeixin) {
	  	$("header").hide()
	　　}else{
		$(window).scroll(function(){
			$("#bs-navbar").removeClass("in")
		})
	}
	})
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98417375-3', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
