<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1 user-scalable=no" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<title>职业说</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/common.css" rel="stylesheet" />
</head>
<body>
<header>
  <div class="top clearfix">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="logo" href="" target="_blank"></a>
          <!--<h1 class="hidden-xs hidden-sm">高端职业知识付费分享平台</h1>-->
        </div>
        <div class="collapse navbar-collapse clearfix" id="bs-navbar">
          <div class="text-center">
            <ul class="list-inline nav navbar-nav">
              <li><a href="index" target="">首页</a></li>
              <li><a href="course" target="">课程</a></li>
              <li><a href="teacher" target="">导师</a></li>
              <li><a href="books" target="">书籍</a></li>
              <li><a href="article" target="" class="active">文章</a></li>
              <li><a href="about" target="">关于我们</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </div>
</header>
<div class="article">
	<div class="banner"></div>
	<section class="clearfix">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <h2>文章</h2>
        </div>
      </div>
      <div class="row titleList">
      	 <!--<div class="col-xs-12 col-md-12 listItem">
        	<div class="row">
        		<b class="col-md-10 col-sm-9 col-xs-12">为什么阿里巴巴是大数据公司？</b>
        		<span class="col-md-2 col-sm-3 col-xs-12">2017年7月20日</span>
    			</div>
        	<p>实际上，阿里巴巴现在已经不仅仅是一个电商公司，它更是一个数据公司。为什么？</p>
        </div>-->
       
      </div>
      <div class="pageList">
      	<ul class="pagination">
			    <li><a href="javascript:void(0)" class="firstPage">首页</a></li>
			    <li><a class="arrowBtn leftBtn" href="javascript:void(0)">&laquo;</a></li>
					<li><a class="arrowBtn" href="javascript:void(0)"><span class="displayPage">1</span>/<span class="totalPages">6</span></a> </li>
			    <li><a class="arrowBtn rightBtn" href="javascript:void(0)">&raquo;</a></li>
			    <li><a class="lastPage" href="javascript:void(0)">尾页</a></li>
				</ul>
      </div>
    </div>
  </section>
</div>
<footer>
  <div class="container">
    <div class="row footTop clearfix">
      <div class="col-xs-12 col-md-5 col-sm-12">
        <dl>
          <dt>
            <h4>职业的人说职业的事，不灌鸡汤只吃肉</h4>
          </dt>
          <dd>
            <p>职业说是一个为精英开设的，高端职业知识线上学习平台。首期课程将围绕金融展开。从船运公司的兴衰到外汇知识，从人工智能到大数据，职业说的导师培养学生解决问题的思维模式，在行业大咖的解惑与帮助下，少走弯路，登上职业的顶峰。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="footPt">
          <p>地址：北京市海淀区北三环西路64号院</p>
          <p><abbr title="Phone">电话：</abbr>(010)5292-8288转8018</p>
          <p>邮箱：careerwhisper@kanwokanwo.com</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 col-sm-6">
        <div class="code"> <img src="images/code.png">
          <h4>关注我们</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="copy">Copyright © 北京看我看我科技有限责任公司 2017京ICP备14049391号-1</p>
      </div>
    </div>
  </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/articleJson.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){
		//判断微信打开隐藏顶部导航
		var ua = navigator.userAgent.toLowerCase();
	　 var isWeixin = ua.indexOf('micromessenger') != -1;
	　　if (isWeixin) {
	  	$("header").hide()
	　　}else{
		$(window).scroll(function(){
			$("#bs-navbar").removeClass("in")
		})
	}
	})
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98417375-3', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
