<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1 user-scalable=no" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<title>职业说</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/common.css" rel="stylesheet" />
</head>
<body>
<header>
  <div class="top clearfix">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="logo" href="" target="_blank"></a>
          <!--<h1 class="hidden-xs hidden-sm">高端职业知识付费分享平台</h1>-->
        </div>
        <div class="collapse navbar-collapse clearfix" id="bs-navbar">
          <div class="text-center">
            <ul class="list-inline nav navbar-nav">
              <li><a href="index" target="">首页</a></li>
              <li><a href="course" target="">课程</a></li>
              <li><a href="teacher" target="">导师</a></li>
              <li><a href="books" target="">书籍</a></li>
              <li><a href="article" target="" class="active">文章</a></li>
              <li><a href="about" target="">关于我们</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </div>
</header>
<!--公共顶部end-->
<!--文章内容详情模块start-->
<div class="articleDetails">
	<div class="container">
		<!-----------------文章开头内容公共部分“标题”+“日期”+“整理人”+“导读” start--------------------->
		<div class="introduce">
			<div class="row">
				<h5 class="col-md-12 col-sm-12 col-xs-12">为什么阿里巴巴是大数据公司？</h5>
				<i class="col-md-12 col-sm-12 col-xs-12">2017年9月19日</i>
				<span class="col-md-12 col-sm-12 col-xs-12">音频来自许轶老师，职业说小编整理</span>
				<p class="col-md-12 col-sm-12 col-xs-12 text-center">实际上，阿里巴巴现在已经不仅仅是一个电商公司，它更是一个数据公司。为什么？</p>
			</div>
		</div>
		<!-----------------文章开头内容公共部分“标题”+“日期”+“整理人”+“导读” end--------------------->
		<!-----------------音频有的文章有，有的文章没有(没有就注掉该段内容) start--------------------->
		<div class="articleAudio text-center">
			<b>为什么说阿里巴巴是一个数据公司？</b>
			<audio controls=controls><source src="audio/love.mp3" type=audio/mpeg></audio>
		</div>
		<!-----------------音频有的文章有，有的文章没有(没有就注掉该段内容) end--------------------->
		
		<!-----------------文章详细内容有图片文字及小标题构成，都必须放在<div class="articleImg">这个容器中
			1.每段描述后添加图片方法（注：有几张放几个img标签）<div class="row text-center"><img src="images/article1.png"/></div>
			2.添加文章文字内容方法 <p>+内容</p>
			3.文章小标题添加  <h6 class="articleTitle"><i></i>标题内容<i></i></h6>
			--------------------->
		<div class="articleImg">
			<p>今天要跟大家说一下数据的价值以及如何衡量的问题。这两天我们一直在讨论阿里巴巴的价值，阿里巴巴现在已经不仅仅是一个电商公司，它实际上更是一个数据公司。</p>
			<!----------------注： ）--------------->
			<h6 class="articleTitle"><i></i>为什么说阿里巴巴是一个数据公司？<i></i></h6>
			<div class="row text-center">
				<img src="images/article1.png" alt=""  />
			</div>
			<p>这个数据是非常可怕的，因为它是不断演进的。十几岁买的东西和六十几岁买的东西是不同的，通过后台的这些数据，能够反应出在不同的时候都你喜欢什么样的东西。比如，一个人总买阿迪达斯的鞋，那就可以分析出这个人是阿迪的粉丝，就不会为其推荐安德玛和耐克；如果知道一个人喜欢Apple，就不会推荐三星，但是有一天这个人看了华为，它就可能开始为其推安卓的手机。</p>
			<div class="row text-center">
				<img src="images/article1.png" alt=""  />
				<img src="images/article1.png" alt=""  />
				<img src="images/article1.png" alt=""  />
			</div>
		</div>
	</div>
</div>
<!--文章内容详情模块end-->

<!--公共底部start-->
<footer>
  <div class="container">
    <div class="row footTop clearfix">
      <div class="col-xs-12 col-md-5 col-sm-12">
        <dl>
          <dt>
            <h4>职业的人说职业的事，不灌鸡汤只吃肉</h4>
          </dt>
          <dd>
            <p>职业说是一个为精英开设的，高端职业知识线上学习平台。首期课程将围绕金融展开。从船运公司的兴衰到外汇知识，从人工智能到大数据，职业说的导师培养学生解决问题的思维模式，在行业大咖的解惑与帮助下，少走弯路，登上职业的顶峰。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="footPt">
          <p>地址：北京市海淀区北三环西路64号院</p>
          <p><abbr title="Phone">电话：</abbr>(010)5292-8288转8018</p>
          <p>邮箱：careerwhisper@kanwokanwo.com</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 col-sm-6">
        <div class="code"> <img src="images/code.png">
          <h4>关注我们</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="copy">Copyright © 北京看我看我科技有限责任公司 2017京ICP备14049391号-1</p>
      </div>
    </div>
  </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(function(){
		//判断图片个数，改变图片布局
		var windowW=$(window).width();
		$(".articleImg .row").each(function(index,ele){
			var imgNum=$(this).children("img").length;
			if(imgNum==2||imgNum==4){
				$(this).children("img").addClass("col-md-6")
				if(windowW>768){
					$(this).css({"width":"70%","margin":"0 auto"})
			}else{
				$(this).css({"width":"100%"})
			}
			}else if(imgNum==3||imgNum==6){
				$(this).children("img").addClass("col-md-4")
			}else if(imgNum==5){
				$(this).children("img").addClass("col-md-4")
				if(windowW>991){
					$(this).children("img").eq(3).css("margin-left","17%")
				}else{
					$(this).children("img").eq(3).css("margin-left","0")
				}
			}
		})
	})
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98417375-3', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
