<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1 user-scalable=no" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<title>书籍页面</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/common.css" rel="stylesheet" />
</head>
<body>
<header>
  <div class="top clearfix">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="logo" href="" target="_blank"></a>
          <h1 class="hidden-xs hidden-sm">高端职业知识付费分享平台</h1>
        </div>
        <div class="collapse navbar-collapse clearfix" id="bs-navbar">
          <div class="text-center">
            <ul class="list-inline nav navbar-nav">
              <li><a href="index" target="">首页</a></li>
              <li><a href="course" target="">课程</a></li>
              <li><a href="teacher" target="">导师</a></li>
              <li><a href="books" target="">书籍</a></li>
              <li><a href="about" target="">关于我们</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </div>
</header>
<div class="books">
  <div class="banner"></div>
  <div class="container">
    <section class="row">
      <div class="text-center">
        <h2>推荐书籍</h2>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book1.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>作者展现了一种由善于经营的印度帕特尔人创造的威力无比的Dhandho式资本分配方法，以及个体
                  投资者如何将其成功地运用于股市投资。</p>
                <p>帕特尔人来源于印度的一个小族群，最初于20世纪70年代以难民身份来到美国。当时他们受教育程度
                  不高，钱财不多。现在，他们在美国拥有超过400亿美元的汽车旅馆资产，每年缴纳税金超过7．25亿美元
                  。雇佣将近100万员工。这个人口不多、穷困潦倒的族群几乎是白手起家，为什么现在能积累到如此巨额的
                  资产?答案就是他们采用的这种低风险、高收益的经营模式，也就是Dhandho。这本书将介绍如何使用这
                  种模式投资股市，赚取高回报。</p>
                <p>投资者都知道如果想得到高回报，就不得不承担高风险。当然，如果采用本杰明·格雷厄姆；沃伦·巴
                  菲特和查理·芒格等人开拓性的价值投资策略，也的确有可能将风险降至最低，同时保证收益。而这种成功
                  的被称为"Dhandho"的投资模式却更进一步，教你如何做到收益最大化而同时风险最小化。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《The Dhandho Investor》</h4>
            <h5>作者：Mohnish Pabrai</h5>
            <p>作者展现了一种由善于经营的印度帕特尔人
              创造的威力无比的Dhandho式资本分配方法
              ，以及个体投资者如何将其成功地运用于股
              市投资。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book2.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>这是一部权威的对冲基金发展史，充满了对美国金融界人物戏剧性沉浮的引人入胜描述。在本书中，
                  华尔街的生存之道、美国金融界的商业文化被演绎得出神入化。</p>
                <p>作者对该行业进行了包括300个小时访谈和无数内部文件在内的深入调查，并在此基础上，讲述了关于对冲
                  基金鲜为人知的故事:从该行业的鼻祖阿尔弗雷德·温斯洛·琼斯到金融大鳄乔治·索罗斯，再到许多其他不那
                  么出名但在这个领域同样有影响力的人物，从1987年的股市暴跌，到网络泡沫，再到抵押贷款证券的崩溃
                  。在这个过程中，对冲基金参透了市场的玄机，不断赚取巨额财富。它们的创新改变了世界，孕育了特殊
                  金融工具的新市场，改写了资本主义的规则。这不仅仅是一部历史，更是通向未来金融体系的窗口。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《富可敌国》</h4>
            <h5>作者：Sebastian Mallaby</h5>
            <p>这是一部权威的对冲基金发展史，充满了对
              美国金融界人物戏剧性沉浮的引人入胜描述。
              在本书中，华尔街的生存之道、美国金融界
              的商业文化被演绎得出神入化。。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book3.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>巴菲特每年都要在伯克希尔・哈撒韦的公司年报中给股东写一封信，总结在过去一年中的成败得失。
                  从挑选经理、选择投资目标、评估公司，到有效地使用金融信息，这些信涵盖面甚广。巴菲特本人认为，
                  这本书比到目前为止的任何一本关于他的传记都要好，如果他要挑一本书去读，那必定是这本。没有哪个
                  人的成功是偶然的。读者看完本书之后，想必会对巴菲特的投资理念有深入全面的了解，也就不难想像他
                  为什么会取得如此惊人的业绩。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《巴菲特致股东的信》</h4>
            <h5>作者：沃伦·巴菲特</h5>
            <p>巴菲特每年都要在伯克希尔・哈撒韦的公司
              年报中给股东写一封信，总结在过去一年中
              的成败得失。从挑选经理、选择投资目标、
              评估公司，到有效地使用金融信息。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book4.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>巴菲特的成功并非偶然，九岁的他已经知道通过收集瓶盖来了解哪一种品牌的软饮料生意最红火；在
                  为《华盛顿邮报》做报童时，他就考虑过可以依靠增加产品线来获得更大利益。其投资生涯始于11岁，迄
                  今个人财富已逾166亿美元，超越比尔・盖茨，成为美国新首富。想进一步了解巴菲特令人神往的一生，那
                  就看着本语言轻松幽默，情节引人入胜的人物传记吧！</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《巴菲特传：一个美国资本家的成长》</h4>
            <h5>作者：罗杰・洛文斯坦</h5>
            <p>巴菲特的成功并非偶然，九岁的他已经知道
              通过收集瓶盖来了解哪一种品牌的软饮料生
              意最红火；在为《华盛顿邮报》做报童时，
              就考虑过可以依靠增加产品线获得更大利益。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book5.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>1939午的冬天，9岁的巴菲特在院子里玩雪。他把少量的积雪铲到一块，揉成一个雪球，然后把它放
                  O在地上慢慢滚动，雪球越滚越大……</p>
                <p>从此，巴菲特再也没有停下脚步，目光投向白雪皑皑的整个世界……</p>
                <p>沃伦·巴菲特，我们这个时代硕果仅存的商业领袖和投资大师，甚至在死后还会影响后世50年的伟大人
                  物，终于向我们敞开了他的心扉。这本他生平唯一授权的官方传记，以从未有过的视角，揭开了巴菲特的
                  真实人生。许多年来聚光灯下高大的“股神”终于走下神坛，以他最平实的语言、最真诚的心，娓娓道来
                  ，讲述了他78年人生中最触动人心的故事，分享了他60多年商业和投资生涯中最宝贵的经验</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《滚雪球:巴菲特和他的财富人生》</h4>
            <h5>作者：艾丽斯·施罗德</h5>
            <p>1939午的冬天，9岁的巴菲特在院子里玩雪。
              他把少量的积雪铲到一块，揉成一个雪球，
              然后把它放O在地上慢慢滚动，雪球越滚越
              大……</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book6.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>两千年来，丝绸之路始终主宰着人类文明的进程。不同种族、不同信仰、不同文化背景的帝王、军队
                  、商人、学者、僧侣、奴隶，往来在这条道路上，创造并传递着财富、智慧、宗教、艺术、战争、疾病和
                  灾难。</p>
                <p>丝绸之路让中国的丝绸和文明风靡全球；罗马和波斯在路边缔造了各 自 的帝 国；佛教、基督教和伊
                  斯兰教沿着丝绸之路迅速崛起并传遍整个世界；成吉思汗的铁骑一路向西，在带来杀戮的同时促进了东西
                  方文明的交融；大英帝国通过搜刮丝绸之路上的财富，铸就了日不落的辉煌；希特勒为了这条路上的资源
                  ，将世界推入了战争和屠杀的深渊。时至今日，丝绸之路上恐怖主义，依然是美国争霸道路上挥之不去的
                  梦魇。</p>
                <p>翻开这部包罗万象的史诗巨著，您将发现，丝绸之路的历史就是一部浓缩的世界史，丝绸之路就是人
                  类文明最耀眼的舞台。它不仅塑造了人类的过去，更将主宰世界的未来。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《丝绸之路》</h4>
            <h5>作者：彼得·弗兰科潘</h5>
            <p>两千年来，丝绸之路始终主宰着人类文明的
              进程。不同种族、不同信仰、不同文化背景
              的帝王、军队、商人、学者、僧侣、奴隶，
              往来在这条道路上…….</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book7.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>未来的工作会是什么样的？还有多少工作机会是属于你的？你可能会想象或希望这一场机器人工业革
                  命将像上次那样展开：即使一些工作被淘汰，但会有更多的工作被创造出来以满足新时代新的创新。在《
                  机器人时代》中，硅谷企业家马丁·福特认为，你的想法完全错了，因为情况绝非如此。</p>
                <p>随着技术发展的不断加快和机器自动化的发展，对人的需求将会减少。人工智能已经在大步迈进，所
                  谓的“好工作”将会过时：很多律师助理、记者、上班族，甚至电脑程序员将被机器人和智能软件取代。
                  随着技术的进一步发展，蓝领和白领工作都将蒸发，使工薪家庭和中产阶级家庭受到进一步挤压。同时，
                  人们的家庭还要经受生活成本上涨的冲击，尤其是教育成本和医疗保健成本的上涨。</p>
                <p>全球自动化趋势正加速到来，中国制造业面临的大难题将是机器智能和自动化带来的冲击。在可预见
                  的将来，机器人行业将与大数据、移动通信等进行跨领域技术融合，基于服务创新的机器人产业体系也许
                  很快就要到来。当下一风口来临的时候，你准备好了吗？</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《机器人时代》</h4>
            <h5>作者：马丁·福特</h5>
            <p>未来的工作会是什么样的？还有多少工作机
              会是属于你的？你可能会想象或希望这一场
              机器人工业革命将像上次那样展开：即使一
              些工作被淘汰，但会有更多的…….</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book8.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p> 《股票作手回忆录》以记述本世纪初期最伟大的股票和期货投机人Jesse Livermore生平事迹的经典
                  作品。数十年来，一代又一代的金融专业人士和交易员都阅读过这本书，从中学习金融操作所应秉持的态
                  度，反应及感受。</p>
                <p>作者以拉利•李文斯顿的假名，描写Livermore操作生涯的成败起落，以及他如何在金融市场上进行垄断、
                  轧空和面对市场崩盘及繁荣的经验。</p>
                <p>建议所有股票投资人详读这本历史传记，您会发现，您从事金融商品操作多年的经验，可能不如一窥本书
                  所获为甚。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《股票作手回忆录》</h4>
            <h5>作者：爱德温·李费佛</h5>
            <p>《股票作手回忆录》以记述本世纪初期最伟
              大的股票和期货投机人Jesse Livermore生平
              事迹的经典作品。数十年来，一代又一代的
              金融专业人士和交易员都阅读过这本书……</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book9.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>《Zero to One》是彼得·泰尔在斯坦福讲授"初创企业"这门课的视频和讲义的课程笔记的摘编，不过
                  删减了不少过于琐屑的细节，因此浅显但系统得多。</p>
                <p>在这本书里，彼得·泰尔提出了"资本主义与竞争相互对立"、"竞争成了一种意识形态，扭曲了我们的
                  思维模式"、"开局稀里糊涂没得救"、"'产品会说话'是谎言"、"高超的销售推广技巧本身就能创造垄断"等一
                  系列颇具颠覆色彩的逆向思维观点，与此前大家心中的"竞争鼓励创新"、"垄断是万恶之源"、"创业开局并
                  不重要，可以频繁试错"、"专注产品即可，销售推广并不重要"等等观念大相径庭。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《Zero to One》</h4>
            <h5>作者：彼得·泰尔</h5>
            <p>《Zero to One》是彼得·泰尔在斯坦福讲授"
              初创企业"这门课的视频和讲义的课程笔记的
              摘编，不过删减了不少过于琐屑的细节，因
              此浅显但系统得多。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book10.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>政治家运用影响力来赢得选举，商人运用影响力来兜售商品，推销员运用影响力诱惑你乖乖地
                  把金钱捧上。即使你的朋友和家人，不知不觉之间，也会把影响力用到你的身上。但到底是为什么，
                  当一个要求用不同的方式提出来时，你的反应就会从负面抵抗变成积极合作呢？这本妙趣横生的书会
                  告诉你。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《Influence》</h4>
            <h5>作者：罗伯特·B·西奥迪尼</h5>
            <p>政治家运用影响力来赢得选举，商人运用影
              响力来兜售商品，推销员运用影响力诱惑你
              乖乖地把金钱捧上。即使你的朋友和家人，
              不知不觉之间，也会把影响力用到你的身上。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book11.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>本书倾注了霍华德•马克斯一生的经验和研究，阐述了成功投资的秘诀，以及足以摧毁资本或断
                  送职业生涯的错误。马克斯摘录备忘录中的段落阐明自己的思想，以亲身经历详细阐述了其投资理念
                  的发展历程，充分肯定了投资的复杂性和金融领域的危险性。作者凭借对当今动荡市场的深刻见解，
                  奉献出一部半自传、半信条性质的《投资最重要的事》，为读者提供了广阔的看点。 马克斯在本书中
                  详细阐述了“第二层次思维”、价格、价值关系、耐心等待机会、以及多元化投资等概念，对自身的
                  决策以及偶尔的失误做出了坦诚的评价，为读者进行批判性思考、风险评估、建立投资策略提供了宝
                  贵的经验教训。作者鼓励投资者做“逆向投资者”，明智地判断市场周期，采取大胆而谨慎的行动获
                  取收益。最重要的事是什么？成功的投资有赖于同时对各个方面保持密切关注。本书中的每个主题，
                  都是最重要的事。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《投资最重要的事》</h4>
            <h5>作者：霍华德·马克斯</h5>
            <p>本书倾注了霍华德•马克斯一生的经验和研究
              ，阐述了成功投资的秘诀，以及足以摧毁资
              本或断送职业生涯的错误。马克斯摘录备忘
              录中的段落阐明自己的思想……</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book12.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>沃顿商学院教授菲利普·泰洛克的研究表明，某些专业预测人士确实具有远见卓识，泰洛克在过去10年
                  中一直尝试着找出原因。是什么让这些人如此优秀？这样的天赋可以传授给他人吗？泰洛克与丹·加德纳合
                  著的《超预测》一书借助数十年的研究成果和一项由政府资助的大型预测比赛的结果，为我们提供了一本
                  关于预测的杰作。在这本开创性的通俗易懂的书中，泰洛克和加德纳告诉我们如何向这个精英群体学习。
                  他们将成功预测的故事和失败预测的故事以及对一系列高层决策者的访谈串接在一起，阐明了出色的预测
                  并不需要强大的计算机或者深奥的方法。它需要的是从多种来源收集证据、注重概率思维、组建团队一起
                  工作、记录预测得分，并且愿意承认错误、改变航向。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《超预测：预见未来的艺术和科学》</h4>
            <h5>作者：菲利普．泰洛克 / 丹‧賈德納</h5>
            <p>沃顿商学院教授菲利普·泰洛克的研究表明，
              某些专业预测人士确实具有远见卓识，泰洛
              克在过去10年中一直尝试着找出原因。是什
              么让这些人如此优秀？</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book13.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p> OO本书是介绍对冲基金行业幕后故事的力作，让各位对冲基金高手现身说法，分析了他们是如何利用
                  独特的策略和标准来评估头寸和扩大收益的。作者马妮特•阿胡贾是CNBC电视台对冲基金节目专员，和书
                  中提到的投资大师有频繁的接触。在这本改变游戏规则的新作品中，马妮特首次向读者公开了关于对冲基
                  金投资大师的很多秘闻。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《市场的霸主:对冲基金世界的超额回报大师》</h4>
            <h5>作者：马妮特·阿胡贾</h5>
            <p>本书是介绍对冲基金行业幕后故事的力作，
              让各位对冲基金高手现身说法，分析了他们
              是如何利用独特的策略和标准来评估头寸和
              扩大收益的。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book14.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>安全边际的作者认为自上到下的选股法是以预测为基础的，首先是宏观，然后是行业，最后才会到企
                  业层面，然而预测是极其困难而又不讨好的事情，因此建立在预测基础上的投资法实际上是很不严谨的。
                  安全边际还论述了券商或者经纪人为自己利益最大化的考虑而给投资者提出建议，但绝大多数建议不可取
                  ，他们不是以客户利益为中心的，所以投资者在与这些人打交道时一定谨慎，不可盲目跟风或者轻信。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《安全边际》</h4>
            <h5>作者：塞思·卡拉曼</h5>
            <p>安全边际的作者认为自上到下的选股法是以
              预测为基础的，首先是宏观，然后是行业，
              最后才会到企业层面，然而预测是极其困难
              而又不讨好的事情……</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book15.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>在这本书里，以第一人称的叙述方式让安德·科斯托兰尼先生回顾了他八十年的股市人生。请读者聆听
                  这位一生富裕、优雅、从容的老先生教给你如何在纷繁多变的金钱游戏中稳操胜券的诀窍！</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《一个投机者的告白》</h4>
            <h5>作者：安德烈·科斯托兰尼</h5>
            <p>在这本书里，以第一人称的叙述方式让安德·
              科斯托兰尼先生回顾了他八十年的股市人生。
              请读者聆听这位一生富裕、优雅、从容的老
              先生教给你如何在纷繁多变的金钱游戏…….</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book16.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>这是一部思考人类社会（或更一般意义上的复杂系统）进化的“大部头”著作，对于那些不惧于“头
                  脑体操”的读者来说，必然会开卷有益。</p>
                <p>《失控》成书于1994年，这本书所记述的，是作者对当时科技、社会和经济最前沿的一次漫游，以及
                  借此所窥得的未来图景。</p>
                <p>书中提到并且今天正在兴起或大热的概念包括：大众智慧、云计算、物联网、虚拟现实、敏捷开发、
                  协作、双赢、共生、共同进化、网络社区、网络经济，等等。说它是一本“预言式”的书并不为过。其中
                  必定还隐藏着我们尚未印证或窥破的对未来的“预言”。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《失控：机器、社会与经济的新生物学》</h4>
            <h5>作者：凯文·凯利</h5>
            <p>这是一部思考人类社会（或更一般意义上的
              复杂系统）进化的“大部头”著作，对于那
              些不惧于“头脑体操”的读者来说，必然会
              开卷有益。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book17.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>在《必然》的描述中，未来是霍洛思(Holos)的世界，所谓霍洛思，是全体人类，计算机，手机，各种
                  可穿戴设备，各种智能设备，各种传感器靠着网络紧密连接起来的世界。而如今正是这个时代的开端，这
                  种紧密的联系开始有了一定的雏形，一个巨变的时代开始形成，而这个时代的开端就是凯文·凯利所说的形
                  成(being)。</p>
                <p>凯文·凯利给我们总结了自己几十年来对于科技的观察和分析，精彩地评说当下科技发展的必然趋势 。
                  在《必然》中，作者介绍了在未来30年里的很多新知，例如更多的流动、共享、追踪、使用、互动、屏读
                  、重混、过滤、知化、提问以及形成。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《必然》</h4>
            <h5>作者：凯文·凯利</h5>
            <p>在《必然》的描述中，未来是霍洛思(Holos)
              的世界，所谓霍洛思，是全体人类，计算机
              ，手机，各种可穿戴设备，各种智能设备，
              各种传感器靠着网络紧密连接起来的世界。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book18.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>互联网思维"持续震动着全世界各个行业，甚至"颠覆"整个经济规则，而这一切，早在十几年前KK就
                  已通过这本小书轻松写定。本书揭示经济运行的十个新规则，分别是:蜂群比狮子重要 ;级数比加法重要; 普
                  及比稀有重要 ;免费比利润重要;网络比公司重要 ;造山比登山重要; 空间比场所重要; 流动比平衡重要; 关系
                  比产能重要; 机会比效率重要。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《新经济，新规则》</h4>
            <h5>作者：凯文·凯利</h5>
            <p>互联网思维"持续震动着全世界各个行业，甚
              至"颠覆"整个经济规则，而这一切，早在十
              几年前KK就已通过这本小书轻松写定。本书
              揭示经济运行的十个新规则…….</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-6">
        <dl class="clearfix">
          <dt class="pull-left posR"><a href="javascript:void(0);"><img src="images/books/book19.jpg"></a>
            <div class="visible-lg-block">
              <div class="bShow">
                <h5>简介</h5>
                <p>“技术元素”（technium)是凯文·凯利专门创造出来的词语。“技术元素不仅仅包括一些具象的技术
                  （例如汽车、雷达和计算机等），它还包括文化、法律、社会机构和所有的智能创造物。”简而言之，技
                  术元素就是从人的意识中涌现出来的一切。KK把这种科技的延伸面看成一个能产生自我动力的整体。</p>
                <p>本书继承了《失控》和《新经济的新规则》的思考体系，谈到了文明进化、数字出版、免费经济、人工智
                  能、物联网、数字化生活等热议的话题。而更深层次的是，KK希望借此讨论：技术元素的本质是什么？人
                  类应该拥抱还是拒绝它？人类对它本身的未来发展究竟有多少把握？KK把对这些疑惑的理解都写在了《技
                  术元素》里。相比于KK之前的著作，本书将更通俗易懂，文章中涉及到的领域、所举的事例都更贴近当下
                  人们的生活体验。而阅读这样一本书，将能最贴近地了解到KK在思考什么。</p>
              </div>
            </div>
          </dt>
          <dd class="pull-right">
            <h4>《技术元素》</h4>
            <h5>作者：凯文·凯利</h5>
            <p>“技术元素”（technium)是凯文·凯利专门
              创造出来的词语。“技术元素不仅仅包括一
              些具象的技术（例如汽车、雷达和计算机等
              ），它还包括文化、法律、社会机构…….</p>
          </dd>
        </dl>
      </div>
    </section>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row footTop clearfix">
      <div class="col-xs-12 col-md-5 col-sm-12">
        <dl>
          <dt>
            <h4>职业的人说职业的事，不灌鸡汤只吃肉</h4>
          </dt>
          <dd>
            <p>职业说是一个为精英开设的，高端职业知识线上学习平台。首期课程将围绕金融展开。从船运公司的兴衰到外汇知识，从人工智能到大数据，职业说的导师培养学生解决问题的思维模式，在行业大咖的解惑与帮助下，少走弯路，登上职业的顶峰。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="footPt">
          <p>地址：北京市海淀区北三环西路64号院</p>
          <p><abbr title="Phone">电话：</abbr>(010)5292-8288转8018</p>
          <p>邮箱：careerwhisper@kanwokanwo.com</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 col-sm-6">
        <div class="code"> <img src="images/code.png">
          <h4>关注我们</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="copy">Copyright © 北京看我看我科技有限责任公司 2017京ICP备14049391号-1</p>
      </div>
    </div>
  </div>
</footer>
<script src="js/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
$('.books dt').hover(function(){
   $(this).find('.bShow').show();
},function(){
   $(this).find('.bShow').hide();
});
})
</script>
</body>
</html>
