<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1 user-scalable=no" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<title>课程页面</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/common.css" rel="stylesheet" />
</head>
<body>
<header>
  <div class="top clearfix">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="logo" href="" target="_blank"></a>
          <h1 class="hidden-xs hidden-sm">高端职业知识付费分享平台</h1>
        </div>
        <div class="collapse navbar-collapse clearfix" id="bs-navbar">
          <div class="text-center">
            <ul class="list-inline nav navbar-nav">
              <li><a href="index" target="">首页</a></li>
              <li><a href="course" target="">课程</a></li>
              <li><a href="teacher" target="">导师</a></li>
              <li><a href="books" target="">书籍</a></li>
              <li><a href="article" target="">文章</a></li>
              <li><a href="about" target="">关于我们</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </div>
</header>
<div class="course">
  <div class="banner text-center">
    <div class="container">
      <div class="row">
        <div class="bannerCourse clearfix">
          <div class="col-md-12">
            <h2>大咖加盟，精英集结，打造未来金融之星</h2>
            <h3>只为精英开设的课程</h3>
            <p><a href="">立刻报名</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg courseWhy">
    <div class="container">
      <section class="row">
        <div class="text-center">
          <h2>为什么选择职业说</h2>
        </div>
        <div class=" clearfix courseWhytop">
          <div class="col-xs-12 col-md-4">
            <dl>
              <dt class="text-right">
                <h4><span>机制</span>严格，保证效果</h4>
              </dt>
              <dd>
                <p>职业说课程拥有严格的淘汰机制，杜绝滥竽充数。学员
                  必须保证课程的参与量与作业完成量才可以顺利毕业。</p>
              </dd>
            </dl>
            <dl>
              <dt class="text-right">
                <h4><span>师资</span>顶级，保证质量</h4>
              </dt>
              <dd>
                <p>职业说的导师有毕业于美国前5名的商学院的学者，也
                  有在美国顶级投行、 VC等机构有过多年的投资经验的
                  从业者更有美团的副总裁以及KKR集团的董事。</p>
              </dd>
            </dl>
          </div>
          <div class="col-xs-12 col-md-4 text-center visible-lg-block visible-md-block"><img src="images/courseWhy.jpg"></div>
          <div class="col-xs-12 col-md-4">
            <dl>
              <dt class="text-left">
                <h4><span>实名</span>认证，保证水平</h4>
              </dt>
              <dd>
                <p>为确保学习效果，职业说课程现阶段仅对国内外名校学生
                  开放，必须实名认证，且需进行笔试及面试，合格后方可
                  加入 。</p>
              </dd>
            </dl>
            <dl>
              <dt class="text-left">
                <h4><span>独家</span>资源，精神传承</h4>
              </dt>
              <dd>
                <p>师者，所以传道授业解惑也。与诸多业内领袖直接对话，
                  建立师徒关系。表现优异者可进入快速成长的通道。</p>
              </dd>
            </dl>
          </div>
        </div>
        <div class="col-xs-12 col-md-12 text-center courseWhybottom">
          <dl>
            <dt>
              <h4><span>不卖</span>梦想，只看结果</h4>
            </dt>
            <dd>
              <p>我们不会打着“梦想”的旗号许诺学员空头支票，而是用知识
                与经验教导学生，培养解决问题的思维模式我们不灌鸡汤，只
                给大家吃肉。</p>
            </dd>
          </dl>
        </div>
      </section>
    </div>
  </div>
  <div class="bg bgf6 courseFeature">
    <div class="container">
      <section class="row">
        <div class="text-center">
          <h2>课程特色</h2>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <dl>
            <dt><a href="" target="_blank"><img src="images/courseFeature1.jpg"></a></dt>
            <dd>
              <p>众多行业大咖组成的导师团队美团副总裁以及KKR集团 的董事都在这里等你。</p>
            </dd>
          </dl>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <dl>
            <dt><a href="" target="_blank"><img src="images/courseFeature2.jpg"></a></dt>
            <dd>
              <p>课程设置不仅有经典投资案例分析，还有融合现代商业
                市场的独家资料讲解。</p>
            </dd>
          </dl>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <dl>
            <dt><a href="" target="_blank"><img src="images/courseFeature3.jpg"></a></dt>
            <dd>
              <p>职业说精心筛选多本金融、历史、科技等多方面的著作
                ，培养学生系统的学习和逻辑思考能力。都在这里等你。</p>
            </dd>
          </dl>
        </div>
      </section>
    </div>
  </div>
  <div class="bg courseArrange">
    <div class="container">
      <section class="row clearfix">
        <div class="text-center">
          <h2>课程安排</h2>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <dl>
            <dt>
              <h4>必修课</h4>
            </dt>
            <dd>
              <p>每周一次课，北京时间周日晚上，美国东部时间周日
                早上同步开课，除导师讲课之外，还设有问答环节，
                学生与老师进行互动答疑。</p>
            </dd>
          </dl>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <dl>
            <dt>
              <h4>选修课</h4>
            </dt>
            <dd>
              <p>除却必修课程，职业说还设置选修课，在必修课结束
                之后开始，学生可选择是否参加，不做硬性要求。</p>
            </dd>
          </dl>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <dl>
            <dt>
              <h4>嘉宾讲座</h4>
            </dt>
            <dd>
              <p>众多行业大咖以及客座讲师、顾问会不定期的举行线
                上讲座，让学生能更好的了解市场，培养解决问题的
                思维模式。</p>
            </dd>
          </dl>
        </div>
      </section>
    </div>
  </div>
  <div class=" bgf6">
    <div class="container">
      <section class="row clearfix text-center">
        <div class="col-md-12">
          <p class="tips">学生每周必须花费5小时左右完成规定的阅读、作业以及小组合作项目，若有不完成者，将会被淘汰。成绩优秀者可获得导师推荐实习和工作机会</p>
        </div>
      </section>
    </div>
  </div>
  <div class="bg contentSet">
    <div class="container">
      <section class="row">
        <div class="text-center">
          <h2>内容设置</h2>
        </div>
        <div class="text-center">
          <h3>分析经典</h3>
        </div>
        <div class="clearfix">
          <div class="col-xs-12 col-md-4">
            <dl>
              <dt>
                <h5>经典读物分析导读</h5>
              </dt>
              <dd>
                <p>课程简介：对十余本金融、历史、科技方面知名著作，如《
                  富可敌国》、《丝绸之路》、《未来之光：机器人时代》等
                  ，进行分析解读，循序渐进，踏着先人的路径走进金融、历
                  史和科技的神秘世界。把枯燥的经典知识学习变成轻松有趣
                  的精神享受。职业说甄选金融和历史经典之作为入门读物，
                  辅以最热门的人工智能科技书籍，只为提供最高质量、最有
                  含金量的金融和科技行业课程。</p>
              </dd>
            </dl>
          </div>
          <div class="col-xs-12 col-md-4">
            <dl>
              <dt>
                <h5>宏观趋势解读</h5>
              </dt>
              <dd>
                <p>课程简介：介绍当下世界和国内的宏观经济趋势。解读宏观
                  经济状况对企业发展的影响，破译经济运行各方面的内在联
                  系，通过各项经济指标对宏观经济形势作出判断，宏观经济
                  趋势所反映出的社会总需求变化的指标等。最终总结如何在
                  当下的宏观经济趋势下，对企业发展方向做出最好的规划，
                  顺应趋势快速发展。</p>
              </dd>
            </dl>
          </div>
          <div class="col-xs-12 col-md-4">
            <dl>
              <dt>
                <h5>复盘资本市场过去几十年最经典的战斗并分析（选修）</h5>
              </dt>
              <dd>
                <p>课程简介：介绍当下世界和国内的宏观经济趋势。解读宏观
                  经济状况对企业发展的影响，破译经济运行各方面的内在联
                  系，通过各项经济指标对宏观经济形势作出判断，宏观经济
                  趋势所反映出的社会总需求变化的指标等。最终总结如何在
                  当下的宏观经济趋势下，对企业发展方向做出最好的规划，
                  顺应趋势快速发展。</p>
              </dd>
            </dl>
          </div>
        </div>
        <div class="text-center">
          <h3>融合现代</h3>
        </div>
        <div class="clearfix">
          <div class="col-xs-12 col-md-4">
            <dl>
              <dt>
                <h5>金融入门</h5>
              </dt>
              <dd>
                <p>课程简介：每月选取至少一个公司，进行实盘讲解。用真实
                  的案例来解读金融行业现状，深浅出的从基础金融知识到行
                  业前沿趋势发展进行系统性学习。不只拘泥于文字记录的理
                  论知识，真正的走进波谲云诡的金融世界，亲身体验金融的
                  瞬息万变，才更能在真正进入这个行业的时候做到随机应变
                  ，进而最快地做出最正确的投资决策。</p>
              </dd>
            </dl>
          </div>
          <div class="col-xs-12 col-md-4">
            <dl>
              <dt>
                <h5>人工智能和大数据</h5>
              </dt>
              <dd>
                <p>课程简介：人工智能会招致人类灭亡吗？ 人工智能正在影响
                  我们生活的哪些方面？ 应用人工智能的Fintech公司会取代
                  老牌投行吗？腾讯、 阿里巴巴、Amazon等公司是如何利用
                  大数据强化自己的互利网帝国？ 我们将邀请创投和互联网圈
                  的大佬与你分享他们对人工智能和大数据的最新观点。</p>
              </dd>
            </dl>
          </div>
          <div class="col-xs-12 col-md-4">
            <dl>
              <dt>
                <h5>一级市场动态</h5>
              </dt>
              <dd>
                <p>课程简介：硅谷创投的最新动向。 为大家讲解美国风险投资
                  实时动态， 并进行分析点评。硅谷投资人偏好什么类型的创
                  始人？ 偏好什么类型的企业？一切的问题都将在这里为你解
                  答。</p>
              </dd>
            </dl>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="bg bgf6 harvest">
    <div class="container">
      <section class="row text-center">
        <div class="text-center">
          <h2>课程收获</h2>
        </div>
        <div class="col-xs-12 col-md-3">
          <dl>
            <dt><a href="" target="_blank"><img src="images/courseHarvest1.jpg"></a></dt>
            <dd>
              <p>培养解决问题的思维模式</p>
            </dd>
          </dl>
        </div>
        <div class="col-xs-12 col-md-3">
          <dl>
            <dt><a href="" target="_blank"><img src="images/courseHarvest2.jpg"></a></dt>
            <dd>
              <p>构建自己的精英人脉网</p>
            </dd>
          </dl>
        </div>
        <div class="col-xs-12 col-md-3">
          <dl>
            <dt><a href="" target="_blank"><img src="images/courseHarvest3.jpg"></a></dt>
            <dd>
              <p>大量阅读与实操训练总结经验</p>
            </dd>
          </dl>
        </div>
        <div class="col-xs-12 col-md-3">
          <dl>
            <dt><a href="" target="_blank"><img src="images/courseHarvest4.jpg"></a></dt>
            <dd>
              <p>成绩优秀者可获得独家内推实习或工作机会</p>
            </dd>
          </dl>
        </div>
      </section>
    </div>
  </div>
  <!-- <div class="bg courseTeach">
    <div class="container">
      <section class="row">
        <div class="text-center">
          <h2>课程导师</h2>
        </div>
        <div class="coursefocusBox">
          <div class="tempWrap">
            <div class="focus">
              <dl class="clearfix">
                <dt><a href="" target="_blank"><img src="images/courseteach1.jpg"></a></dt>
                <dd>
                  <h4><strong>王鹤霏</strong></h4>
                  <p>中国人民大学汉青经济与金融高级研究院副教授，美国斯坦福大学金融学博
                    士。曾在美国伊利诺伊大学芝加哥分校商学院任教。研究领域为公司财务理
                    论、信息经济学、金融机构激励机制、资产组合理论、主权基金等。</p>
                </dd>
              </dl>
              <dl class="clearfix">
                <dt><a href="" target="_blank"><img src="images/courseteach1.jpg"></a></dt>
                <dd>
                  <h4><strong>王鹤霏</strong></h4>
                  <p>中国人民大学汉青经济与金融高级研究院副教授，美国斯坦福大学金融学博
                    士。曾在美国伊利诺伊大学芝加哥分校商学院任教。研究领域为公司财务理
                    论、信息经济学、金融机构激励机制、资产组合理论、主权基金等。</p>
                </dd>
              </dl>
              <dl class="clearfix">
                <dt><a href="" target="_blank"><img src="images/courseteach1.jpg"></a></dt>
                <dd>
                  <h4><strong>王鹤霏</strong></h4>
                  <p>中国人民大学汉青经济与金融高级研究院副教授，美国斯坦福大学金融学博
                    士。曾在美国伊利诺伊大学芝加哥分校商学院任教。研究领域为公司财务理
                    论、信息经济学、金融机构激励机制、资产组合理论、主权基金等。</p>
                </dd>
              </dl>
            </div>
          </div>
          <a class="prev" href="javascript:void(0)"></a> <a class="next" href="javascript:void(0)"></a> </div>
      </section>
    </div>
  </div> -->
  <div class="bg bgf6 courseOutline">
    <div class="container">
      <section class="row">
        <div class="text-center">
          <h2>课程大纲</h2>
        </div>
        <ul>
          <li>
            <p>第1周：《一个投机者的告白》第1章-第6章</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第2周：《一个投机者的告白》第6章-第12章</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第3周：阿里巴巴-投行研究报告</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第4周：历史上最伟大交易员/投资人介绍和经典案例分析 1：巴菲特给股东的信节选 I</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第5周：巴菲特给股东的信节选 II</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第6周：巴菲特给股东的信节选 III</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第7周：经典心理学名著分析《Influence》 上</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第8周：经典心理学名著分析《Influence》 下</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第9周：历史上最伟大交易员介绍和经典案例分析 2：Stanley Druckenmiller &George Soros</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第10周：历史上最伟大交易员介绍和经典案例分析 3：John Paulson 约翰保尔森</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第11周：历史上最伟大交易员介绍和经典案例分析 4：寻找中国股神</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第12周：历史上最伟大交易员介绍和经典案例分析 5：老虎基金 Julian Robertson</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第13周：历史上最伟大交易员介绍和经典案例分析 6：神秘桥水</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第14周：历史上最伟大交易员介绍和经典案例分析 7：橡树资本</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第15周：历史上最伟大交易员介绍和经典案例分析 8：伟大做空者</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第16周：伟大的公司：伟大投资人和投机人的标的</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第17周：宏观分析</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第18周：农产品投资和其他大宗商品投资</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第19周：硬件公司</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第20周：实盘讨论 TBD 股票或者外汇</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第21周：经典名著阅读 Seth Klarman: Margin of Safety 相关演讲和文章</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第22周：习惯的力量 The Power of Habits：交易习惯和投资盲点分析</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第23周：平台模式分析 （上）</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第24周：平台模式分析 （下）</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第25周：科技股估值讨论（上）</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第26周：科技股估值讨论（下）</p>
            <a class="posA" href="">MORE</a></li>
          <li>
            <p>第27周：半年回顾，精彩案例点评，总结自己的得失</p>
            <a class="posA" href="">MORE</a></li>
        </ul>
      </section>
    </div>
  </div>
  <div class="bg bgask">
    <div class="center text-center">
      <h4>招生要求</h4>
      <p>国内外名校在校本科生、研究生及毕业未满两年的毕业生，具体要求如下：</p>
      <p>美国大学排名前35（文理学院排名前25），GPA 3.5以上；</p>
      <p>英国大学排名前10，First Class以上；</p>
      <p>国内大学排名前15，成绩年级排名前20；</p>
      <p>如有不符合上述硬性标准者，需通过笔试+面试的形式申请。 </p>
    </div>
  </div>
  <div class="bg courseCode">
    <div class="container clearfix text-center">
      <section class="row">
        <div class="col-md-6 col-xs-12">
          <h3>课程咨询</h3>
          <dl class="bgf6">
            <dt><img src="images/zxcode.jpg"></dt>
            <dd>
              <h5>联系人：Amber老师</h5>
              <h5>电话：13681039513</h5>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 col-xs-12">
          <h3>课程付款</h3>
          <div class="clearfix payCode">
            <div class="col-md-6 col-xs-12">
              <dl>
                <dt><img src="images/wx.jpg"></dt>
                <dd><img src="images/kanwokanwocode.jpg"></dd>
              </dl>
            </div>
            <div class="col-md-6 col-xs-12">
              <dl>
                <dt><img src="images/zfb.jpg"></dt>
                <dd><img src="images/kanwokanwocode.jpg"></dd>
              </dl>
            </div>
          </div>
          <p>如您已经报名成功可扫面二维码进行付款<br>
            如您尚未报名成功，请先报名哦~</p>
        </div>
      </section>
      <div class="row">
        <div class="col-md-12"><a href="">立即报名</a></div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row footTop clearfix">
      <div class="col-xs-12 col-md-5 col-sm-12">
        <dl>
          <dt>
            <h4>职业的人说职业的事，不灌鸡汤只吃肉</h4>
          </dt>
          <dd>
            <p>职业说是一个为精英开设的，高端职业知识线上学习平台。首期课程将围绕金融展开。从船运公司的兴衰到外汇知识，从人工智能到大数据，职业说的导师培养学生解决问题的思维模式，在行业大咖的解惑与帮助下，少走弯路，登上职业的顶峰。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="footPt">
          <p>地址：北京市海淀区北三环西路64号院</p>
          <p><abbr title="Phone">电话：</abbr>(010)5292-8288转8018</p>
          <p>邮箱：careerwhisper@kanwokanwo.com</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 col-sm-6">
        <div class="code"> <img src="images/code.png">
          <h4>关注我们</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="copy">Copyright © 北京看我看我科技有限责任公司 2017京ICP备14049391号-1</p>
      </div>
    </div>
  </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
	jQuery(".coursefocusBox").slide({ mainCell:".focus",effect:"left", delayTime:300});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98417375-3', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
