<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1 user-scalable=no" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<title>职业说</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
</head>
<body>
<header>
  <div class="top clearfix">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="logo" href="" target="_blank"></a>
          <!--<h1 class="hidden-xs hidden-sm">高端职业知识付费分享平台</h1>-->
        </div>
        <div class="collapse navbar-collapse clearfix" id="bs-navbar">
          <div class="text-center">
            <ul class="list-inline nav navbar-nav">
              <li><a href="index" target="" class="active">首页</a></li>
              <li><a href="course" target="">课程</a></li>
              <li><a href="teacher" target="">导师</a></li>
              <li><a href="books" target="">书籍</a></li>
              <li><a href="article" target="">文章</a></li>
              <li><a href="about" target="">关于我们</a></li>
              <% if current_user %>
                <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
                <%= link_to('修改密碼', edit_registration_path(:user)) %>
              <% else %>
                <%= link_to('註冊', new_registration_path(:user)) %> |
                <%= link_to('登入', new_session_path(:user)) %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </div>
</header>
<div class="indexBanner">
      <div class="bannerCon text-center"><span>职业说是一个为精英开设的，高端职业知识线上学习平台。
        我们的导师大多毕业于美国前5名的商学院，在美国顶级投行、VC等机构有过多年的投资经验。</span></div>
    </div>
<section class="advantage">
  <div class="container">
    <div class="text-center">
      <h2>我们的优势</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3 text-center"> <img src="images/icon1.png">
        <h4>弥补学校教育和职场工作<br>
          的不对称</h4>
      </div>
      <div class="col-xs-12 col-md-3 text-center"> <img src="images/icon2.png">
        <h4>培养学生自我发现并解决<br>
          问题的思维模式</h4>
      </div>
      <div class="col-xs-12 col-md-3 text-center"> <img src="images/icon3.png">
        <h4>帮助学生构建自己的精英<br>
          人脉网络</h4>
      </div>
      <div class="col-xs-12 col-md-3 text-center"> <img src="images/icon4.png">
        <h4>为国内外知名企业储备优<br>
          秀人才</h4>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="course">
  <div class="container">
    <div class="text-center">
      <h2>精品课程</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="courseContent">
          <div class="courseContentin">
            <h5>课程名称：</h5>
            <h3>金融精英提升课</h3>
            <p><strong>课程时间</strong>：9月2日开课</p>
            <p><strong>课程简介：</strong>课程为要在金融方面做出成绩的精英进行能力提升，在此课程中你会跟随众多业内大咖一起，解读经典投资案例，实盘分析当今股票金融投资市场，从船运公司的兴衰到外汇知识，从人工智能到大数据分析，通过职业说导师的解惑与帮助，不仅可以了解当今市场的发展趋势，还能逐步培养自己对于市场趋势的独特思维与见解。首期课程结束之后，成绩优秀者还可获得导师推荐实习和工作机会。</p>
            <a class="btn btn-lg btn-course" href="course">课程报名</a> </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6"> <img src="images/coursePic.jpg"></div>
    </div>
  </div>
  </div>
</section>
<section class="about bgPic">
  <div class="container">
    <div class="text-center">
      <h2>关于职业说</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <dl>
          <dt><a href="" target="_blank"><img src="images/aboutPic1.jpg"></a></dt>
          <dd>
            <p>2003年，职业说的前身在五道口成立，美团的创始人
              王兴、九鼎投资黄晓捷与职业说的创始人许轶老师是
              职业说最早的参与者，他们的友谊始于在五道口共同
              打拼的日子，对于未来的憧憬和对知识的渴求，让这
              些人分别在各个领域中成为佼佼者。五道口是中国互
              联网和金融人才成长的摇篮，五道口人对事业的热情
              、面对困难时的坚韧、对知识孜孜不倦地追求等优秀
              品质被总结为“五道口精神”。职业说要做的就是将
              这种“五道口精神”继续发扬。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-4">
        <dl>
          <dt><a href="" target="_blank"><img src="images/aboutPic2.jpg"></a></dt>
          <dd>
            <p>职业说创始人许轶老师，是斯坦福大学MBA，芝加哥大学硕士，曾就职于美国第一投资银行高盛公司和欧洲顶级投资银行瑞士信贷美国旧金山办公室。先后在一级投资市场中投资过两家超过十亿的公司，许轶老师操盘的股票年收益率达到惊人的150%，从事教育行业以来，曾成功指导了多名学员获得美国知名大学和商学院的录取，包括：摩根斯坦利（香港）实习的周孟恒，拿到美国花旗银行投行部顶级实习工作的徐抱一等等。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-4">
        <dl>
          <dt><a href="" target="_blank"><img src="images/aboutPic3.jpg"></a></dt>
          <dd>
            <p>从2003年的五道口，到现在的成功学员，职业说培养了一个又一个的“成功案例”。在现在这个时代，许轶老师决定正式开设“职业说”课程，携手高盛、摩根斯坦利、老虎基金、KKR基金等众多金融基金行业挚友与学生，共同为大家分享金融业的成功之道。职业说想要做的，就是让一群优秀的人变得更优秀，提升你的水平，打造成功的人生。</p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="in">
  <div class="container">
    <div class="text-center">
      <h2>在职业说</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6"> <img src="images/inPic.jpg"> </div>
      <div class="col-xs-12 col-md-6">
        <div class="inContent clearfix">
          <div class="inContentin clearfix">
            <p class="bt pull-right"><strong>01</strong><em>你的导师不管是从学历还是行业经历，都远超市面上同类产
              品中至少99%的老师。他们大多毕业于美国前5名的商学院
              ，在美国顶级投行、VC等机构有过多年的投资经验。从美
              团的副总裁到KKR集团的董事，我们用最真实，最有经验的
              导师，帮学生构筑属于你自己的知识体系，并获得受益终生
              的思维方式。</em></p>
            <p class="pt pull-right"><strong>02</strong><em>你的同学从哥伦比亚本科的徐抱一，到MIT Sloan商学院的
              周孟恒，以及纽约大学斯特恩（Stern）商学院的王超，无
              一不是未来金融行业的明日之星。精英的人脉圈，更加有助
              于你在职业发展中早日走向巅峰。</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="teachers bgPic">
  <div class="container">
    <div class="text-center">
      <h2>职业说的导师们</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 text-center">
        <dl>
          <dt><a href="" target="_blank"><img src="images/zhao.jpg" class="img-circle"></a></dt>
          <dd>
            <h3>肇越</h3>
            <p class="text-left">致富集团首席经济学家，兼任致富集团研究院院长。曾为中国投资有限公司高级业务主管。参与中投上千亿美金的宏观配置。2005年获得清华大学五道口金融学院经济学博士学位，师从周小川。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <dl>
          <dt><a href="" target="_blank"><img src="images/tang.jpg" class="img-circle"></a></dt>
          <dd>
            <h3>唐大牛</h3>
            <p class="text-left">华创资本合伙人。天使投资人。曾任易观国际研究事业部负责人兼首席分析师。加入华创前有两段美元基金工作经历。在Ventech China任合伙人时，主要负责聚美优品、WiseMedia、百程旅行网和真朴教育等项目的投资。唐先生热衷公益和户外活动。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <dl>
          <dt><a href="" target="_blank"><img src="images/chen.jpg" class="img-circle"></a></dt>
          <dd>
            <h3>陈斓杰</h3>
            <p class="text-left">金沙江创投合伙人，人工智能公司advance.ai的联合创始人兼首席执行官。曾是法拉龙资本中国私人投资部门的主管。他是斯坦福大学最大的企业家协会——中国企业家组织的创始人之一，获得了清华大学的计算机软件学士学位，斯坦福大学MBA。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <dl>
          <dt><a href="" target="_blank"><img src="images/xuyi.jpg" class="img-circle"></a></dt>
          <dd>
            <h3>许轶</h3>
            <p class="text-left">斯坦福大学MBA，芝加哥大学硕士，Focusedu（时代焦点教育）联合创始人之一，曾就职于美国第一投资银行高盛公司和欧洲顶级投资银行瑞士信贷美国旧金山办公室。先后在一级投资市场中投资过两家超过十亿的公司，操盘的股票年收益率达到惊人的150%，投资经验丰富）。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <dl>
          <dt><a href="" target="_blank"><img src="images/fei.jpg" class="img-circle"></a></dt>
          <dd>
            <h3>王鹤菲</h3>
            <p class="text-left">中国人民大学汉青经济与金融高级研究院副教授，美国斯坦福大学金融学博士。曾在美国伊利诺伊大学芝加哥分校商学院任教。研究领域为公司财务理论、信息经济学、金融机构激励机制、资产组合理论、主权基金等。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <dl>
          <dt><a href="" target="_blank"><img src="images/jack.jpg" class="img-circle"></a></dt>
          <dd>
            <h3>Jack Wang</h3>
            <p class="text-left">投资人，投资过独角兽“黑科技”公司柔宇科技，现任硅谷人工智能创业公司minmax　CEO。曾就职于硅谷Oracle 和IBM。本科毕业于Waterloo大学，研究生毕业于斯坦福工程学院。</p>
          </dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"><a class="btn btn-lg btn-same" href="teacher">更多讲师信息</a></div>
    </div>
  </div>
</section>
<section class="student">
  <div class="container">
    <div class="text-center">
      <h2>优秀学员</h2>
    </div>
    <div class="focusBox text-center">
      <div class="tempWrap">
        <div class="focus">
          <dl>
            <dt><a href="" target="_blank"><img src="images/yll.png"></a></dt>
            <dd>
              <h4><strong>杨李乐</strong></h4>
              <h5>前高盛外汇衍生品交易员</h5>
              <p>本科毕业于于芝加哥大学政治学系，2017级芝加哥大学MBA。</p>
            </dd>
          </dl>
          <dl>
            <dt><a href="" target="_blank"><img src="images/xby.png"></a></dt>
            <dd>
              <h4><strong>徐抱一</strong></h4>
              <h5>哥伦比亚大学本科</h5>
              <p>大三暑期实习于纽约花旗投行部</p>
            </dd>
          </dl>
          <dl>
            <dt><a href="" target="_blank"><img src="images/wc.png"></a></dt>
            <dd>
              <h4><strong>王潮</strong></h4>
              <h5>纽约大学中国学生会主席</h5>
              <p>纽约大学本科，17年就读纽约大学斯特恩商学院</p>
            </dd>
          </dl>
        </div>
      </div>
      <a class="prev" href="javascript:void(0)"></a> <a class="next" href="javascript:void(0)"></a> </div>
    <div class="row">
      <div class="col-md-12 text-center"><a class="btn btn-lg btn-same" href="">更多学员信息</a></div>
    </div>
  </div>
</section>
<section class="books bgPic">
  <div class="container">
    <div class="text-center">
      <h2>推荐书籍</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 text-center"> <img src="images/book1.jpg"> </div>
      <div class="col-xs-12 col-md-4 text-center"> <img src="images/book2.jpg"> </div>
      <div class="col-xs-12 col-md-4 text-center"> <img src="images/book3.jpg"> </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"><a class="btn btn-lg btn-same" href="books">更多推荐书籍</a></div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row footTop clearfix">
      <div class="col-xs-12 col-md-5 col-sm-12">
        <dl>
          <dt>
            <h4>职业的人说职业的事，不灌鸡汤只吃肉</h4>
          </dt>
          <dd>
            <p>职业说是一个为精英开设的，高端职业知识线上学习平台。首期课程将围绕金融展开。从船运公司的兴衰到外汇知识，从人工智能到大数据，职业说的导师培养学生解决问题的思维模式，在行业大咖的解惑与帮助下，少走弯路，登上职业的顶峰。</p>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="footPt">
          <p>地址：北京市海淀区北三环西路64号院</p>
          <p><abbr title="Phone">电话：</abbr>(010)5292-8288转8018</p>
          <p>邮箱：careerwhisper@kanwokanwo.com</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 col-sm-6">
        <div class="code"> <img src="images/code.png">
          <h4>关注我们</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="copy">Copyright © 北京看我看我科技有限责任公司 2017京ICP备14049391号-1</p>
      </div>
    </div>
  </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
	jQuery(".focusBox").slide({ mainCell:".focus",effect:"left", delayTime:300});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98417375-3', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
