.ubg {
    background: #eef5fa;
    width: 100%;
    background-position: center;
  	background-attachment:  scroll;

  	padding-top:2%;
}

.wrapper {
    background: #fff;
    padding: 1% 2%;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.3);
}
