<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width" name="viewport">
		<meta name="format-detection" content="telephone=no">
		<title>职业说careerwhisper</title>
		<link href="css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/wechat.css" />
	</head>

	<body style="background-color: #efeff4;">
		<div class="container">
			<h3 class="text-center titles">学习资料</h3>
			<ul class="material">
				<li>
					<h5>巴菲特致股东的信<span>书籍</span></h5>
					<p>资料描述资料描述料描述述资料描述资料描述资料描述资料描述资料描述资料描述资料描述资料描述</p>
					<div>
						<i>2017年9月21日</i>
						<a href="https://code.jquery.com/jquery-3.2.1.slim.min.map"><img src="images/downIcon.png"/></a>
					</div>
				</li>
				<li>
					<h5>书籍名称<span>音频</span></h5>
					<p>资料描述资料描述资料描述资料描述资料描述资料描述资料描述资料描述资料描述资料描述资料描述</p>
					<div>
						<i>2017年9月21日</i>
						<a href="https://code.jquery.com/jquery-3.2.1.slim.min.map"><img src="images/downIcon.png"/></a>
					</div>
				</li>
				
			</ul>
		</div>
	</body>
</html>